[submodule "externals/DotNetOpenSearch"]
	path = externals/DotNetOpenSearch
	url = git://github.com/Terradue/DotNetOpenSearch
[submodule "externals/DotNetGeoJson"]
	path = externals/DotNetGeoJson
	url = git://github.com/Terradue/DotNetGeoJson
