.project
packages
bin
obj
*.userprefs
*.nupkg
OpenSearchClient.userprefs
target
Terradue.OpenSearch.Client/Resources
Terradue.OpenSearch.Model.Base/Resources
Terradue.OpenSearch.Model/Resources
/Terradue.OpenSearch.Client/Terradue.OpenSearch.Client.csproj.user
.idea/
Terradue.OpenSearch.Client.sln.DotSettings.user
/.vs

TestResult\.xml
*auth.txt*
.*.swp
.directory
