.project
packages
bin
obj
*.userprefs
*.nupkg
OpenSearchClient.userprefs
target
Terradue.OpenSearch.Client/Resources/ne_110m_land/ne_110m_land.dbf
Terradue.OpenSearch.Client/Resources/ne_110m_land/ne_110m_land.prj
Terradue.OpenSearch.Client/Resources/ne_110m_land/ne_110m_land.shp
Terradue.OpenSearch.Client/Resources/ne_110m_land/ne_110m_land.shx
Terradue.OpenSearch.DataPublisher/Resources/ne_110m_land/ne_110m_land.dbf
Terradue.OpenSearch.DataPublisher/Resources/ne_110m_land/ne_110m_land.prj
Terradue.OpenSearch.DataPublisher/Resources/ne_110m_land/ne_110m_land.shp
Terradue.OpenSearch.DataPublisher/Resources/ne_110m_land/ne_110m_land.shx
Terradue.OpenSearch.Model.Base/Resources/ne_110m_land/ne_110m_land.dbf
Terradue.OpenSearch.Model.Base/Resources/ne_110m_land/ne_110m_land.prj
Terradue.OpenSearch.Model.Base/Resources/ne_110m_land/ne_110m_land.shp
Terradue.OpenSearch.Model.Base/Resources/ne_110m_land/ne_110m_land.shx
Terradue.OpenSearch.Model/Resources/ne_110m_land/ne_110m_land.dbf
Terradue.OpenSearch.Model/Resources/ne_110m_land/ne_110m_land.prj
Terradue.OpenSearch.Model/Resources/ne_110m_land/ne_110m_land.shp
Terradue.OpenSearch.Model/Resources/ne_110m_land/ne_110m_land.shx
